body {
    font-family: 'Arial', sans-serif;
    /* Use a fonte desejada */
    margin: 0;
}

#productSection {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: calc(25% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(23, 3, 43);
    height: 300px;
    /* Defina a altura desejada para todas as divs dos produtos */
}

.product img {
    max-width: 100%;
    height: auto;
    max-height: 70%;
    /* Ajuste conforme necessário */
}

.product p {
    margin: 10px 0;
}

/* Estilos para o botão "Saiba Mais" */
.product button {
    background-color: #4CAF50;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    width: 50%;
    /* Largura do botão ajustada para 100% */
    padding: px;
    /* Espaçamento interno ajustado */
    border: none;
    /* Sem borda */
    border-radius: 5px;
    /* Cantos arredondados */
    cursor: pointer;
    /* Cursor tipo mão ao passar sobre o botão */
    font-size: 16px;
    /* Tamanho da fonte */
}

.product button:hover {
    background-color: #45a049;
    /* Cor de fundo ao passar sobre o botão */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
}



.shopping_cart {
    display: flex;
    position: relative;
}

#cartCount {
    background-color: #e74c3c;
    width: 10px;
    height: 20px;
    color: #fff;
    border-radius: 300%;
    padding: 2px; /* Reduzi o padding para diminuir o tamanho geral */
    margin-left: 10px;
    position: absolute;
    top: -8px; /* Ajuste conforme necessário para posicionar acima */
    right: -7px; /* Ajuste para mover mais para a direita */
}

.nav_section a,
.shopping_cart a {
    flex: 0 0 auto;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-family: 'Material Icons Outlined';
    font-size: 40px;
    width: 100%;
    cursor: pointer;
}
.icon {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  
  .container {
    display: flex;
  }
  
  .carPanel {
    width: 0;
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .carPanel p {
    padding: 20px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }